{% extends "ssq.html" %}
{% load staticfiles %}

{% block right-body %}
    <div class="col-md-10">
        <table class="table table-bordered table-hover table-striped table-condensed">
            <thead>
            <tr>
                <th>序号</th>
                <th>红球</th>
                <th>红球</th>
                <th>红球</th>
                <th>红球</th>
                <th>红球</th>
                <th>红球</th>
                <th>蓝球</th>
                <th>奇偶比</th>
                <th>和值</th>
            </tr>
            </thead>
            <tbody>
            {% if info %}
                <tr>
                    <td colspan="10">
                        <h4 class="text-danger text-center">{{ info }}</h4>
                    </td>
                </tr>
            {% else %}
                {% for group in records %}
                    <tr>
                        {% if forloop.counter < 10 %}
                            <td>00{{ forloop.counter }}</td>
                        {% elif 10 <= forloop.counter and forloop.counter < 100 %}
                            <td>0{{ forloop.counter }}</td>
                        {% else %}
                            <td>{{ forloop.counter }}</td>
                        {% endif %}

                        {% for p in group %}
                            {% if p < 10 %}
                                <td>0{{ p }}</td>
                            {% elif 85 < p and p < 125 %}
                                <td class="danger">{{ p }}</td>
                            {% else %}
                                <td>{{ p }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}