{% extends "index.html" %}
{% load staticfiles %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            {% block left-body %}
                <div class="col-md-2">
                    <ul class="list-group list-unstyled">
                        <li class="pull-left list-group-item col-md-6 text-center"><a href="{% url 'ssq' 'red' 1 %}">红&thinsp;球</a>
                        </li>
                        <li class="pull-right list-group-item col-md-6 text-center"><a href="{% url 'ssq' 'blue' 1 %}">蓝&thinsp;球</a>
                        </li>
                    </ul>
                    <ul class="list-group list-unstyled">
                        <li class="pull-left list-group-item col-md-6 text-center"><a
                                href="{% url 'ssq' 'orig' 1 %}">原始数据</a></li>
                        <li class="pull-right list-group-item col-md-6 text-center"><a
                                href="{% url 'update' %}">更新数据</a></li>
                    </ul>
                    <div class="clearfix">
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                                <p class="text-center">{{ message }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {#  <P class="text-info clearfix">请选择数据进行组合:</P>#}
                    <div>
                        <form action="{% url 'result' %}" method="post" class="form-inline " role="form">
                            {% csrf_token %}
                            <div>
                                <p>红球:</p>
                                {% for num in head %}
                                    <div class="form-group ">
                                        <label class="checkbox-inline" for="red{{ num }}">{{ num }}:</label>
                                    </div>
                                    <div class="form-group ">
                                        <input type="checkbox" name="red" value="{{ num }}" id="red{{ num }}">
                                    </div>
                                {% endfor %}
                            </div>

                            <div>
                                <P>蓝球:</P>
                                {% for num in head|slice:"0:16" %}
                                    <div class="form-group ">
                                        <label class="checkbox-inline" for="blue{{ num }}">{{ num }}:</label>
                                    </div>
                                    <div class="form-group ">
                                        <input type="checkbox" name="blue" value="{{ num }}" id="blue{{ num }}">
                                    </div>
                                {% endfor %}
                            </div>
                            <p>和值范围:</p>
                            <div class="form-inline">
                                <label style="width: 40%;"><input type="number" name="ssum" placeholder=">=22"
                                                                  style="width: 100%;"></label>
                                <span>~</span>
                                <label style="width: 40%;"><input type="number" name="msum" placeholder="<=199"
                                                                  style="width: 100%;"></label>
                            </div>
                            <div>
                                {#    <input type="submit" value="提交数据" class="form-control" onclick="my_submit()">#}
                                {# 这里有个坑 下面的提交 需要 return my_submit  直接写 submit 不能正常工作的#}
                                <input type="submit" value="提交数据" class="form-control text-center"
                                       onclick="return my_submit()">
                            </div>
                        </form>
                    </div>

                    {# <div class="text-danger"><p>{{ message }}</p></div>#}
                </div>

            {% endblock %}

            {% block right-body %}
                <div class="col-md-10">
                    <table class="table table-bordered table-hover table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>期数</th>
                            {% if mark == 1 %}
                                {% for i in head %}
                                    <th>{{ i }}</th>
                                {% endfor %}

                            {% elif mark == 2 %}
                                {% for i in head|slice:"0:16" %}
                                    <th>{{ i }}</th>
                                {% endfor %}

                            {% elif mark == 3 %}
                                <th>红球</th>
                                <th>红球</th>
                                <th>红球</th>
                                <th>红球</th>
                                <th>红球</th>
                                <th>红球</th>
                                <th>蓝球</th>
                                <th>奇偶比</th>
                                <th>和值</th>
                            {% endif %}

                        </tr>
                        </thead>

                        <tbody>
                        {% for i in records %}
                            <tr>
                                {% for foo in i %}
                                    {% if foo >= 10 %}
                                        <td class="danger">{{ foo }}</td>
                                    {% elif foo < 10 and foo >= 5 %}
                                        <td class="warning">{{ foo }}</td>
                                    {% elif foo == 0 %}
                                        <td class="success">{{ foo }}</td>
                                    {% else %}
                                        <td>{{ foo }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>

                        {#                        <tfoot>#}
                        {#                        <tr>#}
                        {# 合并行 #}
                        {#                            <td colspan="34" class="text-muted">一长串的说明</td>#}
                        {#                        </tr>#}
                        {#                        </tfoot>#}
                    </table>
                    {#  TODO: 翻页的代码  Ajax #}
                    <div class="col-md-5 col-md-offset-4">
                        <ul class="pagination" id="pagination">
                            {% if mark == 1 %}

                                {% if page_info.current_page == 1 %}
                                    <li class="disabled"><a href="javascript:void(0);">&laquo; Prev</a>

                                        {% for page in page_info.show_page %}
                                            {% if page == page_info.current_page %}
                                                <li class="active"><a
                                                        href="{% url 'ssq' 'red' page %}"> {{ page }} </a>
                                                </li>
                                            {% else %}
                                                <li><a href="{% url 'ssq' 'red' page %}"> {{ page }} </a></li>
                                            {% endif %}
                                        {% endfor %}

                                    {% if page_info.show_page|length_is:1 %}
                                        <li class="disabled"><a href="javascript:void (0);">Next &raquo;</a>
                                        </li>
                                    {% else %}
                                        <li><a href="{% url 'ssq' 'red' page_info.current_page|add:1 %}">Next
                                            &raquo;</a>
                                        </li>
                                    {% endif %}
                                {% elif page_info.current_page > 1 and page_info.current_page <= page_info.show_page|last %}

                                    <li><a href="{% url 'ssq' 'red' page_info.current_page|add:-1 %}">&laquo; Prev</a>

                                        {% for page in page_info.show_page %}
                                            {% if page == page_info.current_page %}
                                                <li class="active"><a
                                                        href="{% url 'ssq' 'red' page %}"> {{ page }} </a>
                                                </li>
                                            {% else %}
                                                <li><a href="{% url 'ssq' 'red' page %}"> {{ page }} </a></li>
                                            {% endif %}
                                        {% endfor %}

                                    {% if page_info.current_page == page_info.show_page|last %}
                                        <li class="disabled"><a href="javascript:void(0);">Next &raquo;</a>
                                        </li>
                                    {% else %}
                                        <li>
                                        <a href="{% url 'ssq' 'red' page_info.current_page|add:1 %}">Next &raquo;</a>
                                    {% endif %}

                                {% endif %}

                            {% elif mark == 2 %}

                            {% if page_info.current_page == 1 %}
                                <li class="disabled"><a href="javascript:void(0);">&laquo; Prev</a>

                                    {% for page in page_info.show_page %}
                                        {% if page == page_info.current_page %}
                                            <li class="active"><a
                                                    href="{% url 'ssq' 'blue' page %}"> {{ page }} </a>
                                            </li>
                                        {% else %}
                                            <li><a href="{% url 'ssq' 'blue' page %}"> {{ page }} </a></li>
                                        {% endif %}
                                    {% endfor %}

                                {% if page_info.show_page|length_is:1 %}
                                    <li class="disabled"><a href="javascript:void (0);">Next &raquo;</a>
                                    </li>
                                {% else %}
                                    <li><a href="{% url 'ssq' 'blue' page_info.current_page|add:1 %}">Next
                                        &raquo;</a>
                                    </li>
                                {% endif %}
                            {% elif page_info.current_page > 1 and page_info.current_page <= page_info.show_page|last %}

                                <li><a href="{% url 'ssq' 'blue' page_info.current_page|add:-1 %}">&laquo; Prev</a>

                                    {% for page in page_info.show_page %}
                                        {% if page == page_info.current_page %}
                                            <li class="active"><a
                                                    href="{% url 'ssq' 'blue' page %}"> {{ page }} </a>
                                            </li>
                                        {% else %}
                                            <li><a href="{% url 'ssq' 'blue' page %}"> {{ page }} </a></li>
                                        {% endif %}
                                    {% endfor %}

                                {% if page_info.current_page == page_info.show_page|last %}
                                    <li class="disabled"><a href="javascript:void(0);">Next &raquo;</a>
                                    </li>
                                {% else %}
                                    <li>
                                    <a href="{% url 'ssq' 'blue' page_info.current_page|add:1 %}">Next &raquo;</a>
                                {% endif %}

                            {% endif %}

                            {% elif mark == 3 %}
                            {% if page_info.current_page == 1 %}
                                <li class="disabled"><a href="javascript:void(0);">&laquo; Prev</a>

                                    {% for page in page_info.show_page %}
                                        {% if page == page_info.current_page %}
                                            <li class="active"><a
                                                    href="{% url 'ssq' 'orig' page %}"> {{ page }} </a>
                                            </li>
                                        {% else %}
                                            <li><a href="{% url 'ssq' 'orig' page %}"> {{ page }} </a></li>
                                        {% endif %}
                                    {% endfor %}

                                {% if page_info.show_page|length_is:1 %}
                                    <li class="disabled"><a href="javascript:void (0);">Next &raquo;</a>
                                    </li>
                                {% else %}
                                    <li><a href="{% url 'ssq' 'orig' page_info.current_page|add:1 %}">Next
                                        &raquo;</a>
                                    </li>
                                {% endif %}
                            {% elif page_info.current_page > 1 and page_info.current_page <= page_info.show_page|last %}

                                <li><a href="{% url 'ssq' 'orig' page_info.current_page|add:-1 %}">&laquo; Prev</a>

                                    {% for page in page_info.show_page %}
                                        {% if page == page_info.current_page %}
                                            <li class="active"><a
                                                    href="{% url 'ssq' 'orig' page %}"> {{ page }} </a>
                                            </li>
                                        {% else %}
                                            <li><a href="{% url 'ssq' 'orig' page %}"> {{ page }} </a></li>
                                        {% endif %}
                                    {% endfor %}

                                {% if page_info.current_page == page_info.show_page|last %}
                                    <li class="disabled"><a href="javascript:void(0);">Next &raquo;</a>
                                    </li>
                                {% else %}
                                    <li>
                                    <a href="{% url 'ssq' 'orig' page_info.current_page|add:1 %}">Next &raquo;</a>
                                {% endif %}

                            {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ssq.js' %}"></script>
{% endblock %}