{% extends "index.html" %}
{% load staticfiles %}

<div class="container-fluid">
    <div class="row">
        {% block left-body %}
            <div class="col-md-2">
                <ul class="nav nav-stacked nav-pills">
                    <li><a class="btn-primary" href={% url "update" %}>更新数据</a></li>
                    <li><a href={% url "ssq" "red" %}>红球</a></li>
                    <li><a href={% url "ssq" "blue" %}>蓝球</a></li>
                </ul>
                {% if messages %}
                    {% for message in messages %}
                        <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                {# <div class="text-danger"><p>{{ message }}</p></div>#}
            </div>
        {% endblock %}

        {% block right-body %}
            <div class="col-md-10">
                <table class="table table-bordered table-hover table-striped table-condensed">
                    <thead>
                    <tr>
                        <th>期数</th>
                        {% for i in num %}
                            <th>{{ i }}</th>
                        {% endfor %}
                    </tr>
                    </thead>

                    <tbody>
                    {% for i in records %}
                        <tr>
                            {% for foo in i %}
                                {% if foo >= 10 %}
                                    <td class="danger">{{ foo }}</td>
                                {% elif foo < 10 and foo >= 5 %}
                                    <td class="warning">{{ foo }}</td>
                                {% elif foo == 0 %}
                                    <td class="success">{{ foo }}</td>
                                {% else %}
                                    <td>{{ foo }}</td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>

                    <tfoot>
                    <tr>
                        {# 合并行 #}
                        <td colspan="34" class="text-muted">一长串的说明</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        {% endblock %}
    </div>
</div>